sodoff/schema/xsd/ImageDataDecalPosition.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsi:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="4.1.0"
        xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1">

    <xsi:complexType name="ImageDataDecalPosition">
        <xsi:sequence>
            <xsi:element maxOccurs="1" minOccurs="1" name="X" type="xsd:int"/>
            <xsi:element maxOccurs="1" minOccurs="1" name="Y" type="xsd:int"/>
        </xsi:sequence>
    </xsi:complexType>
</xsi:schema>