sodoff/schema/xsd/ParentRegistrationData.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsi:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="4.1.0"
        xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1">

    <xsi:include schemaLocation="ChildRegistrationData.xsd"/>
    <xsi:include schemaLocation="ExternalAuthProvider.xsd"/>
    <xsi:include schemaLocation="UserPolicy.xsd"/>
    <xsi:include schemaLocation="EmailNotification.xsd"/>

    <xsi:complexType name="ParentRegistrationData">
        <xsi:sequence>
            <xsi:element maxOccurs="1" minOccurs="1" name="Email" type="xsd:string">
                <xsi:annotation>
                    <xsi:appinfo>
                        <jaxb:property name="Email"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="1" minOccurs="1" name="FirstName" type="xsd:string">
                <xsi:annotation>
                    <xsi:appinfo>
                        <jaxb:property name="FirstName"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="1" minOccurs="1" name="LastName" type="xsd:string">
                <xsi:annotation>
                    <xsi:appinfo>
                        <jaxb:property name="LastName"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="1" minOccurs="1" name="Password" type="xsd:string">
                <xsi:annotation>
                    <xsi:appinfo>
                        <jaxb:property name="Password"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="1" minOccurs="1" name="Locale" type="xsd:string">
                <xsi:annotation>
                    <xsi:appinfo>
                        <jaxb:property name="Locale"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="1" minOccurs="1" name="BirthDate" type="xsd:dateTime">
                <xsi:annotation>
                    <xsi:appinfo>
                        <jaxb:property name="BirthDate"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="1" minOccurs="1" name="ReceivesEmail" type="xsd:boolean">
                <xsi:annotation>
                    <xsi:appinfo>
                        <jaxb:property name="ReceivesEmail"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="1" minOccurs="1" name="SubscriptionID" type="xsd:int">
                <xsi:annotation>
                    <xsi:appinfo>
                        <jaxb:property name="SubscriptionID"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="unbounded" minOccurs="0" name="ChildList" type="ChildRegistrationData">
                <xsi:annotation>
                    <xsi:appinfo>
                        <jaxb:property name="ChildList"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="1" minOccurs="0" name="FromApiKey" type="xsd:string">
                <xsi:annotation>
                    <xsi:documentation>Client parses this as a System.Guid</xsi:documentation>
                    <xsi:appinfo>
                        <jaxb:property name="FromApiKey"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="1" minOccurs="0" name="ToApiKey" type="xsd:string">
                <xsi:annotation>
                    <xsi:documentation>Client parses this as a System.Guid</xsi:documentation>
                    <xsi:appinfo>
                        <jaxb:property name="ToApiKey"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="1" minOccurs="0" name="ApiToken" type="xsd:string">
                <xsi:annotation>
                    <xsi:documentation>Client parses this as a System.Guid</xsi:documentation>
                    <xsi:appinfo>
                        <jaxb:property name="ApiToken"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="1" minOccurs="0" name="HasAcquisitionSource" type="xsd:boolean">
                <xsi:annotation>
                    <xsi:appinfo>
                        <jaxb:property name="HasAcquisitionSource"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="1" minOccurs="0" name="FaceBookUserId" type="xsd:long">
                <xsi:annotation>
                    <xsi:appinfo>
                        <jaxb:property name="FaceBookUserId"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="1" minOccurs="1" name="FacebookAccessToken" type="xsd:string">
                <xsi:annotation>
                    <xsi:appinfo>
                        <jaxb:property name="FacebookAccessToken"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="1" minOccurs="0" name="FavouriteTeamID" type="xsd:int">
                <xsi:annotation>
                    <xsi:appinfo>
                        <jaxb:property name="FavouriteTeamID"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="1" minOccurs="0" name="GroupID" type="xsd:string">
                <xsi:annotation>
                    <xsi:documentation>Client parses this as a System.Guid</xsi:documentation>
                    <xsi:appinfo>
                        <jaxb:property name="GroupID"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="1" minOccurs="0" name="SendActivationEmail" type="xsd:boolean">
                <xsi:annotation>
                    <xsi:appinfo>
                        <jaxb:property name="SendActivationEmail"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="1" minOccurs="0" name="AutoActivate" type="xsd:boolean">
                <xsi:annotation>
                    <xsi:appinfo>
                        <jaxb:property name="AutoActivate"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="1" minOccurs="0" name="SendWelcomeEmail" type="xsd:boolean">
                <xsi:annotation>
                    <xsi:appinfo>
                        <jaxb:property name="SendWelcomeEmail"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="1" minOccurs="0" name="IsAnonymous" type="xsd:boolean">
                <xsi:annotation>
                    <xsi:appinfo>
                        <jaxb:property name="IsAnonymous"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="1" minOccurs="0" name="RequiredLogin" type="xsd:boolean">
                <xsi:annotation>
                    <xsi:appinfo>
                        <jaxb:property name="RequiredLogin"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="1" minOccurs="0" name="LinkUserToFaceBook" type="xsd:boolean">
                <xsi:annotation>
                    <xsi:appinfo>
                        <jaxb:property name="LinkUserToFaceBook"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="1" minOccurs="0" name="ClientIP" type="xsd:string">
                <xsi:annotation>
                    <xsi:appinfo>
                        <jaxb:property name="ClientIP"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="1" minOccurs="0" name="ExternalAuthProvider" type="ExternalAuthProvider">
                <xsi:annotation>
                    <xsi:appinfo>
                        <jaxb:property name="ExternalAuthProvider"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="1" minOccurs="0" name="ExternalUserID" type="xsd:string">
                <xsi:annotation>
                    <xsi:appinfo>
                        <jaxb:property name="ExternalUserID"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="1" minOccurs="0" name="ExternalAuthData" type="xsd:string">
                <xsi:annotation>
                    <xsi:appinfo>
                        <jaxb:property name="ExternalAuthData"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="1" minOccurs="0" name="UserPolicy" type="UserPolicy">
                <xsi:annotation>
                    <xsi:appinfo>
                        <jaxb:property name="UserPolicy"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="1" minOccurs="0" name="EmailNotification" type="EmailNotification">
                <xsi:annotation>
                    <xsi:appinfo>
                        <jaxb:property name="EmailNotification"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
        </xsi:sequence>
    </xsi:complexType>
</xsi:schema>